!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea
*.class
*.iml
*.idea
.idea/
target/
logs/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
*/.settings/
*/target/
*/.classpath
*/.project

# Eclipse #
.classpath
.project
.settings/